################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataParsing/.vs/DataParsing
/DataParsing/bin/Debug
/DataParsing/obj
/TestClient/bin/Debug/net461
/DataSearchLibrary/bin/Debug/netstandard2.0
/DataSearchLibrary/obj/Debug
/DataSearchLibrary/obj
/DataSearchLibrary/bin/Debug/net461
/TestClient/obj/Debug/net461/TestClient.pdb
/TestClient/obj/Debug/net461/TestClient.exe.config
/TestClient/obj/Debug/net461/TestClient.exe
/TestClient/obj/Debug/net461/TestClient.csprojAssemblyReference.cache
/TestClient/obj/Debug/net461/TestClient.csproj.CoreCompileInputs.cache
/TestClient/obj/Debug/net461/TestClient.csproj.CopyComplete
/TestClient/obj/Debug/net461/TestClient.AssemblyInfoInputs.cache
/TestClient/obj/Debug/net461/TestClient.AssemblyInfo.cs
