################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataParsing/.vs/DataParsing
/DataParsing/bin/Debug
/DataParsing/obj
