################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataParsing/.vs/DataParsing
/DataParsing/bin/Debug
/DataParsing/obj
/TestClient/bin/Debug/net461
/DataSearchLibrary/bin/Debug/netstandard2.0
/DataSearchLibrary/obj/Debug
/DataSearchLibrary/obj
/DataSearchLibrary/bin/Debug/net461
